{% extends 'base.html' %}

{% block title %}· DaShBoARd{% endblock %}

{% block content %}

<!-- separate pg-13 preference without R ability (family/kids etc) -->

<section id="login" class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="card">
          <div class="card-header">
            <h4>
              <i class="fas fa-sign-in-alt"></i> Dashboard</h4>
          </div>
          <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <a href="{% url 'password' %}" class="btn btn-lg btn-primary" role="button">Change Password</a>
                <p></p>
                {{ form.as_p }}
                <p></p>                
                <button type="submit" class="btn btn-lg btn-success">Save changes</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
 
{% endblock %}
