{% extends 'base.html' %}

{% block title %}· SeArCh{% endblock %}

{% block content %}

<!-- Search template like videos without pagination -->

<section id="videos" class="py-4">
  <div class="container">
    <div class="row">
      {% if videos %}
        {% for video in videos %}
          <div class="col-md-3 col-lg-2 mb-4 flex">
            <div class="card video-preview">
              <a href="{% url 'video' video.id %}">
                <img src="https://image.tmdb.org/t/p/w300/{{ video.cover }}">
              </a>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <div class="col-md-12 text-center">
          <p>No Videos Available</p>
        </div>
      {% endif %}
    </div>
  </div>
</section>

{% endblock %}
