{% extends 'base.html' %}

{% block title %}· MeDiA uPdAtE{% endblock %}

{% block content %}

<section id="video-form" class="bg-black py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="form-group">
            <div class="form">
              <h4>
                <i class="fas fa-sign-in-alt"></i> Media Update</h4>
            </div>            
            <div class="card-body" >                           
                <form action="{% url 'video-update-form' video.id %}" method="post" autocomplete="off">{% csrf_token %}                   
                    {{ form.as_p }}                              
                    <button type="submit" class="btn btn-success" value='Update'>Submit</button> 
                </form>
                <br><a href="https://www.themoviedb.org/">Test your Search at TMDB & try alt-title</a>                             
            </div>
        </div>
    </div>
</div>
 
{% endblock %}
