{% extends 'base.html' %}

{% block title %}· MeDiA aDD{% endblock %}

{% block content %}

<!-- Initial upload of title and auto populate object fields by title -->

<section id="video-form" class="bg-black py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="form-group">
            <div class="form">
              <h4>
                <i class="fas fa-sign-in-alt"></i> Title Search & Add</h4>
            </div>
            <div class="card-body">
              <form action="{% url 'video-create-form' %}"method="post" enctype="multipart/form-data" autocomplete="off">{% csrf_token %}
                {{ form.as_ul }}
                <div class="spin-spinner" id="spin1">
                  <p></p>
                  <p>Ratings: G = 1, PG = 2, PG-13 = 3, Rated R = 4</p>
                  <p>2GB max upload</p>
                  <button type="submit" class="btn btn-success" onclick="$('#spin1').addClass('spinner');" value="Save">Submit</button>
                </div>
              </form>
                <br>
                <p>If Title Search pulls wrong info then after upload
                <br>click update icon & try alternate "Title:" or add by "Title id:".</p>
            </div>
        </div>
    </div>
</div>



{% endblock %}
